---
import "../styles/style.css";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<header id="home">
    <div class="navigation">
        <div class="logo">
            <p>HH</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#ourMission">Nuestra Misión</a></li>
                <li><a href="#event">Eventos</a></li>
                <li><a href="#donate">Donaciones</a></li>
            </ul>
        </nav>
    </div>
</header>
